.sideContainer {
    position: absolute;
    width: 240px;
    top: 120px;
    left: 20px;
    border-radius: 20px;
    text-align: center;
    z-index: 999;
}

.innerContainer {
    margin: 10px 15px;
}

.choiceBar {
    width: 220px;
    font-size: 50px;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;

    &:hover {
        background-color: rgba(120, 10, 100, 50%);
    }

    &:active {
        background-color: rgba(120, 10, 100, 50%);
    }
}

.setContainer {
    position: absolute;
    height: calc(70%) !important;
    width: calc(50%);
    top: calc(15%);
    left: calc(25%);
    border-radius: 20px;
}

.meituan {
    height: 840px;
}

.slid {
    margin: 0 10px 0 10px;
}